[Desktop Entry]
Encoding=UTF-8
Type=Application
GenericName=Tool to manage a Certification Authority
Name=TinyCA2
Exec=tinyca2

Categories=Network;Security
GenericName[bg]=GenericName(tinyca.desktop): Управление на сертификационните регистри (Certification Authority)
Name[cs]=TinyCA2
GenericName[cs]=Nástroj pro správu certifikační autority
Name[de]=TinyCA2
GenericName[de]=Werkzeug zum Verwalten einer Certification Authority
Name[es]=TinyCA2
GenericName[es]=Herramienta para gestionar autoridades certificadoras
Name[fr]=TinyCA2
GenericName[fr]=Outil de gestion d'une autorité de certification
Name[hu]=TinyCA2
GenericName[hu]=CA (Certification Authority) kezelő segédeszköz
Name[it]=TinyCA2
GenericName[it]=Tool d'amministrazione per una certification authority
Name[ja]=TinyCA2
GenericName[ja]=認証局の管理ツール
Name[nb]=TinyCA2
GenericName[nb]=Administrasjonsverktøy for sertifikater
Name[nl]=TinyCA2
GenericName[nl]=Programma om een certificaat autoriteit te beheren
Name[pl]=TinyCA2
GenericName[pl]=Narzędzie do zarządzania centrum certyfikacyjnym
Name[pt_BR]=TinyCA2
GenericName[pt_BR]=Ferramenta para gerenciar uma Autoridade de Certificação
Name[sk]=TinyCA2
GenericName[sk]=Nástroj pre správu certifikačnej autority
Name[zh_CN]=TinyCA2
GenericName[zh_CN]=管理证书授权者的工具
Name[zh_TW]=TinyCA2
GenericName[zh_TW]=管理認證授權的工具
X-SuSE-translate=true
